body {
    background-color: #2C2641;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

.header {
    background-color:white;
    padding: 16px 0;
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    
    
    
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
}

.flexContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav a{
    display: inline-block;
    margin:0px 0px 0px 32px;
    text-decoration: none;
    text-transform: uppercase;
    font-family:karla,sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #6e6b74;

}

.nav a:hover {
    color: #2C2641;

}
.logo {
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
    color: #2C2641;
}

.btn {
    padding: 12px 18px;
    color: #6e6b74;
    border: 1px solid #6e6b74;
    border-radius: 3px;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
}
 
.nav .btn:hover{
    background-color: #2C2641;
    color:white ;
    
}