body {

    position: relative;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
a {
    text-decoration: none;
  }

  /*Header*/
 .header {
    padding: 18px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    background-color: white;
             
    
}

.flex  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
}
  .align-start {
    align-items: flex-start;
  } 
  
  
.nav a{
    display: inline-block;
    margin:0px 0px 0px 64px;
    text-transform: uppercase;
    font-size: 12px;
    color: black;
    font-family: 'Poppins', sans-serif;
    
      

}

nav a:hover {
        color: #f7427f;
}

/*section 1*/
  .overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .banner-area {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .reletive{
    position: relative;
  }
    .banner-area .fullscreen {
      height: 700px ;
    }
  
    
  

.banner-area .overlay-bg {
    opacity: .8;
    background-image: -webkit-linear-gradient(bottom, #f62e71 0%, #f9ab72 100%);
    background-image: -o-linear-gradient(bottom, #f62e71 0%, #f9ab72 100%);
    background-image: linear-gradient(to top, #f62e71 0%, #f9ab72 100%);
  }
  .banner-content {
    text-align: center;
  }
  
  @media (max-width: 767px) {
    .banner-content {
      margin-top: 100px;
    }
  }
  
  .banner-content h1 {
    color: #fff;
    font-size: 72px;
    font-weight: 700;
    line-height: 1.15em;
  }
  
    
  