

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
a {
    text-decoration: none;
  }
  h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  color: #222222;
  line-height: 1.2em !important;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 600;
}


  /*Header*/
 .header {
    padding: 16px 0;
    position: fixed;
    background-color:#ffffff;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    vertical-align: baseline;
    
             
    
}

.flex  {
    display: flex;
    justify-content: space-between;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
}
  .align-start {
    align-items: flex-start;
  } 
  
  
.nav a{
    font-size: 13px;
    margin:0px 0px 0px 64px;
    text-transform: uppercase;
    font-size: 12px;
    color: black;
    font-family: 'Poppins', sans-serif;
    
      

}

nav a:hover {
    background: linear-gradient(to top, rgba(246, 46, 113, 1), rgba(249, 171, 114, 1));
    -webkit-text-fill-color: transparent;
    
}

/*section 1*/


.container1 {
    /* max-width: 1200px;
       margin: 0; */
    background: linear-gradient(to top, rgba(246, 46, 113, 0.8) 0%, rgba(249, 171, 114, 0.8) 100%), url('header-bg.jpg') no-repeat fixed;
    background-size: cover;
}
.div {
    position: relative;
}


.first_h1 {
    position: absolute;
    top: 300px;
    left: 270px;
    font-size: 72px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    line-height: 1.2em;
    font-family: 'Poppins', sans-serif;
}
.a {
    position: absolute;
    top: 500px;
    left: 570px;
    font-size: 15px;
}
/* BUTTON */
.btn {
    padding: 10px 25px;
    color: #000000;
    border: 1px solid #ffffff;
    border-radius: 28px;
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
}
.btn:hover {
    background-color: #222222;
    color: #ffffff;
    border: none;
}

/*section 2*/
.second_h1 {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 25px;
}
.para {
    color: #777777;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.margin {
    margin-bottom: 100px;
}

.padding {
    padding: 120px 0;
}
.first_gallery {
    display: flex;
    justify-content: space-around;
    align-items: center;

}
/*section*/
.area {
    background-color: #222;
    height:100%;
}
.img_key {
    max-width: 100%;
    height: auto;
}
.block {
    max-width: 50%;
    
}
.margin1 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.block_h1 {
    margin-top: 50px;
    font-size: 35px;
    line-height: 1.2em;
    background: linear-gradient(to top, rgba(246, 46, 113, 0.9), rgba(249, 171, 114, 0.9));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.block1 {
    color: #777777;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
    /* text-align: center; */
    font-family: 'Poppins', sans-serif;
    padding-right: 20%;
    padding-left: 5%;

}
.btn-second {
    margin-top: 30px;
    color: #fff;
    background-color: #222;
    border: 1px solid #777;
    font-size: 14px;
    border-radius: 20px;
    padding: 12px 28px;
    
}

.btn-second:hover {
    background-color: #fff;
    color: #000000;
}
/*section 4*/
.facilities {
    margin-top: 40px;
    margin-bottom: 20px;
}
h4 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    color: #222222;
    line-height: 1.2em;
    font-weight: 600;
    padding-left: 50px;
    
    
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  
 .inr {
    font-size: 35px;
    padding-left: 50px;
    
 }   


.lnr:hover {
    background: linear-gradient(to top, rgba(246, 46, 113, 1), rgba(249, 171, 114, 1));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.sigle-facilities .lnr {
    font-size: 35px;
    color: #777777;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
 .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

.col-lg-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}
.second_gallery {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.img5{
    width: 600;
    height: 400;
}
