*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
a {
    text-decoration: none;
  }

/* header section */
  .header {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
      url("coffees/Cafe3.jpeg") center/cover no-repeat;
    position: relative;
    background-attachment: fixed;
  }
  
  .logo {
    
  float:left;
  z-index: 3;
  position: fixed;
  
}

  
nav {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5));
    position: fixed;
    float: left;
    width: 100%;
    padding-right: 4%;
    top: 0;
    left: 0;
    z-index: 2;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    

}
.main{
    position: absolute;
  }
  
  .nav a {
    float: right;
    background: none;
    padding-right:2%;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    color: #f8f9fa;
    display: inline;
    text-decoration: none;
    transition: 0.5s;
    font-weight: 500;
    font-size:17px;
    padding: 15px;
  }
  .li {
    float:right;
  }

  nav a:hover {
    color: red;
}

 .flex{
    display: flex;
    justify-content: space-between;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
}

/*section banner */
.banner {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    letter-spacing: 0.5rem;
  }
  
  .banner-title {
    font-family:SpartanLimport;
    font-size: 3.5rem;
    color: white;
    margin-top: 2.5rem;
    line-height: 1.3;
    /* animation */
    animation-name: slidedown;
    -webkit-animation-name: slidedown;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
  }
  .banner-subtitle {
    margin-top: 2rem;
    font-size: 2rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: #f8f9fa;
    /* animation */
    animation-name: slideup;
    -webkit-animation-name: slideup;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
  }

  .banner-bottom {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: downarrow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    margin-top: 150px;
  }
  
  
  
  .banner-bottom img{
    height:40px;
    
  }

  @keyframes downarrow {
    0% {
      top:91%;
    }
  
    50% {
      top:96%;
    }
    
    100% {
      top:91%;
    }
  }
  
  .banner-bottom :hover img{
    display: inline-block;
    transform:scale(0,22px);
    transition: 5s ease;
  }
  .content-divider {
    height: 0.5rem;
    background: linear-gradient(
      to left,
      #a07070,
      #bc8b8b,
      #8e4242,
      #a28f8f,
      #513434
    );
  }
  
 /*skills section*/

 .skills {
    background: #E0E5EC;
    width:100%;
    height: 17rem;

  }
  .skill1 {
    padding: 2.5rem 0;
    text-align: center;
    transition: 0.5s;
    font-size: 15px;
    width:25%;
  }
  
  .skill2 {
    padding: 2.5rem 0;
    text-align: center;
    transition: 0.5s;
    width:25%;
  }
  
  .head1 {
      text-align: center;
      font-size: 0.9rem;
      font-weight: bold;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      text-transform: uppercase;
      letter-spacing: 1em;
      margin-bottom: 1.5rem;
      color: #bd1220;
      transition: 0.5s;
  }
 
 .para1 {
        text-align: center;
        max-width: 13rem;
        margin: 0 auto;
        text-shadow: 10px;
        font-family: RalewayELimport;
 }
 .skill1:hover {
    background:#52080e;
    padding: 100px;
    opacity: 1.2;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
  }
  .skill2:hover {
    background: #52080e;
    opacity: 1.2;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
  }
  
  
  .skill1:hover .head1 {
    color:#8e4242 ;
    font-size: 17px;
  }
  
  .skill1:hover .para1 {
    color: white;
  }
  
  .skill2:hover .head1 {
    color:#8e4242 ;
    font-size: 17px;
  }
  
  .skill2:hover .para1 {
    color: white;
  }

  /* about section */
  #myvideo {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
  }
  
  .about{
    background-color: #E0E5EC;

  }
  .about1 {
    float: left;
    width: 50%;
    padding: 5rem;
    background-color: #E0E5EC;
    padding: 1rem;
  }
 

  .head2{
    color: #bd1220;
    text-transform: uppercase;
    
  }
 .main-btn {
        color:black;
        display: inline-block;
        background:none;
        text-transform: uppercase;
        padding: 0.8rem 1.2rem;
        font-weight: bold;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        outline: 0.15rem solid #bd1220;
        /*outline-offset: 4px;*/
        cursor: pointer;
        margin-top: 3rem;
        transition: 0.5s;
        position: absolute;
        z-index: 1;
      }
      
.main-btn:hover {
    background-color:#bd1220;
    color: white;
}

/*menu section */
.menu-tem{
    background-color: #E0E5EC ;
    z-index: 1;
    height: 50vh;
    width: 100%;
}
.menu-template{
    height: 40vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
      url("coffees/Cafe1.jpg") center/cover no-repeat;
    position: relative;
    background-attachment: fixed;
  }
  .head3 {
        font-family: SpartanLimport;
        color:#bd1220;
      
        line-height: 1.3;
        text-align: center;
        padding-top: 6.5%;
        font-size: 30px;
      
  }
  .head4 {
    color: white;
    text-align: center;
    font-size: 40px;
    font-family: SpartanLimport;
  }

  /*menu section */

  .menubg{
    background-color: #E0E5EC ;
    z-index: 1;
    width: 100%;
  }
  .menu-header-container{
    display: inline-flex;
    width:100%;
    padding:1rem;
  }
  

  .menu-hr-container {
    width: 100%;
    height: 41px;
    padding-top:2.5%;
  }
  
  .menu-hr {
    margin-top: 10px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid  #eee;
    border-color: black;
   
    
  }
  .menu-image{
    width: 75px; 
  }

.menu-button{
  border-radius: 100px;
  background-color: #E0E5EC ;
  border: hidden;
}
/*Drinks section */
.menu{
  background-color: #E0E5EC;
  display: inline-flex;
  width:100%;
  z-index: 1;
  height: 80vh;
}

.menu-section{
  float: left;
  background-color: #E0E5EC;
  width: 25%;
  padding: 2rem;  
  height: 420px;
  z-index: 2;
}

.menu-flip-card {
  background-color: transparent;
  width: 90%;
  height: 105%;
  perspective: 1000px;
  z-index: 3;
}

.menu-flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px    rgba(255,255,255, 0.5);
  border-radius: 5%;
  background: none;
}
.flip-image{
  width:100%;
  height:100%;
  border-radius: 5%;
}
.menu-flip-card:hover .menu-flip-card-inner {
  transform: rotateY(180deg);
}

.menu-flip-card-front, .menu-flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.menu-flip-card-front {
  background: #E0E5EC;
  color: black;
}

.menu-flip-card-back {
  background-color: #E0E5EC;
  color: white;
  transform: rotateY(180deg);
  border-radius: 5%;
}

.menu-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.menu-text-title{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:#bd1220;
}
.about-text {
  margin: 1rem 0;
  max-width: 26rem;
  color: black;
  font-family: RalewayELimport;
}

/* Form Section */
.form{
  background-color: #E0E5EC ;
  z-index: 1;
  width: 100%;
 
}
.form-head{
  letter-spacing: 1.5px;
  color: #bd1220;
  font-family:SpartanLimport;
  font-size: 25px;
}
label {
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
input{
  width: 100%;
  background-color: #E0E5EC;
  padding: 12px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}
input[type="feedback"],
textarea {
  width: 100%;
  background-color: #E0E5EC;
  padding: 12px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}


.about-form{
  float: left;
  width: 50%;
  padding: 2rem;
  background-color: #E0E5EC;
}

button {
  width: 30%;
  background-color: #E0E5EC;
  color: black;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 14px 15px;
  margin: 8px 0;
  border: 1px solid black;
  transition: 0.5s;
  cursor: pointer;
  float: right;
 
}
button:hover{
  background-color: #bd1220;
  color: white;
  opacity: 1;
  border: 1px solid #bd1220;
  border-radius: 6px;
  box-shadow: 0 14px 18px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}